.sign-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: max-content;
    width: 480px;
    padding: 60px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform 300ms ease-in-out;
    
    &.signup-wanted-signup-not-done
    {
        transform: scale(0)
    }

    &.signin-wanted-signup-not-done{
        transform: scale(1);
    }
    

    form{
        width: 100%;
    }

    span{
        margin: 20px 0;
    }

    h2{
        margin: 30px 0;
        margin-top: 0;
    }

    .buttons-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}