.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.cart-is-open{
    z-index: 5;
  }

  &.cart-is-open .shopping-icon{
    transform: scale(1.5);
  }

  .shopping-icon {
    width: 24px;
    height: 24px;
    transition: transform 500ms ease;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
  }
}
